release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
*.class
quora-db/target/
quora-api/target/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.class
quora-db/target/
quora-api/target/


##############################
## Eclipse
##############################
.settings/
bin/
tmp/
*/target/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
*.class
quora-db/target/
quora-api/target/

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
quora-db/target/
quora-api/target/

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
*.class
quora-db/target/
quora-api/target/

##############################
## OS X
##############################
.DS_Store
.idea/workspace.xml
/quora-api/target/
/quora-api/target/
/quora-db/target/
quora-api/target/classes/.swagger-codegen-ignore
*.class
*.lst
*.jar